html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: lightgrey;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

.page {
  border: 1px solid grey;
}


/*header*/

header .content {
  display: flex;
  align-items: center;
  height: 4rem;
  background-color: white;
}

header .desktop {
  display: flex;
  margin-left: auto;
}

header img {
  padding-left: 1.5rem;
}

header span {
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

header .word1 {
  color: black;
}

header .word2 {
  color: grey;
}

header .logo-content {
  display: flex;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
  padding-right: 1.5rem;
}

nav li {
  padding-left: 3.5rem;
}

nav a {
  vertical-align: bottom;
  font-size: 1rem;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  header .desktop {
    display: none;
  }
  header .logo-content {
    display: none;
  }
  header .mobile {
    display: flex;
    height: 4rem;
    align-items: center;
  }
}

/*banner information*/

.desktop-banner {
  display: flex;
}

.desktop-banner .banner-img {
  margin: 2rem 1.5rem;
}

.desktop-banner .banner-text {
  display: flex;
  width: 40%;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
  margin-right: 2rem;
}

.banner-text p {
  padding-top: 2rem;
}

.banner-text button {
  margin-top: 2rem;
  font-size: 2rem;
  background-color: grey;
  justify-content: center;
  color: white;
}

.mobile-banner {
  display: none;
}

@media only screen and (max-width: 480px) {
  .desktop-banner {
    display: none;
  }

  .mobile-banner {
    display: block;
    flex-direction: column;
    background-color: lightgrey;
  }
  .mob-img img {
    width: 100%;
  }
  .mobile-banner .mob-text {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin: 2rem 1rem;
    justify-content: center;
  }
  .mob-text p {

    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
  .mob-text button {
    padding: 1rem;
    font-size: 2rem;
    background-color: grey;
    color: white;
    margin-bottom: 2rem;
  }
}

/*information page*/

.information {
  display: flex;
  padding: 2rem 0rem 2rem 1.5rem;
  background-color: white;
}

.information .info-img {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.info-img img {
  margin-right: 1.5rem;
}

.info-img .main-text {
  display: flex;
  flex-direction: column;
}

.main-text h1 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.main-text p {
  margin-bottom: 1.5rem;
}

.information .info-extra {
  display: flex;
  flex-direction: column;
  border-left: .5px solid grey;
  width: 40%;
}

.text h3 {
  font-weight: bold;
  font-size: 2rem;
}

.text p {
  padding: 0.5rem 0rem;
}

.text a {
  font-size: 1.5rem;
  color: dodgerblue;
}

.info-extra .details {
  display: flex;
}

.info-extra .details:last-child {
  background-color: lightgrey;
  border: none;
}

.info-extra .details:first-child {
  border-bottom: 2px double grey;
}

.details .image {
  margin: 1rem;
  height: auto;
}

.info-extra .text {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
  width: 65%;
}

.mob-info-extra {
  display: none;
}

@media only screen and (max-width: 480px) {
  .information .info-img {
    display: none;
  }
  .information .info-extra {
    display: none;
  }
  .information .mob-info-extra {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 2rem 1rem;
  }
  .mob-text h3 {
    font-weight: bold;
    font-size: 2rem;
  }
  .mob-text p {
    padding: 0.5rem 0rem;
  }
  .mob-text a {
    font-size: 1.25rem;
    color: dodgerblue;
  }
  .mob-info-extra .mob-details {
    display: flex;
    flex-direction: column;
  }
  .mob-details .mob-image {
    height: auto;
  }
  .mob-image img {
    width: 100%;
  }
  .mob-info-extra .mob-text {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding-top: 2rem;
    padding-left: 1rem;
  }
  .mob-info-extra .mob-details:first-child {
    margin-bottom: 4rem;
  }
  .mob-info-extra .mob-details:last-child {
    margin-top: 4rem;
  }
}

/*course page*/

.course {
  display: flex;
  margin: 2rem 4.5rem;
  justify-content: space-between;
  flex-direction: column;
}

.course h1 {
  padding-bottom: 2rem;
  text-align: center;
}

.course-info {
  display: flex;
  flex-wrap: wrap;
}

.course-info .block {
  display: inline-flex;
  width: 30%;
  height: auto;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.block img {
  width: 100%;
}

.block .course-text {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1.5rem;
}

.course-text h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

.course-text span {
  padding: 0.5rem 0rem;
  font-size: 1rem;
}

.course-mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  .course {
    display: none;
  }
  .course-mobile {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
  }
  .course-mobile h1 {
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
  }
  .course-mobile .mob-course-info {
    display: flex;
    background-color: lightgrey;
    margin-bottom: 0.5rem;
  }
  .mob-course-info h3 {
    font-weight: bold;
    margin: 1rem auto 1.5rem 1rem;
    font-size: 2rem;
  }
  .mob-course-info h3:last-child {
    margin-bottom: 2rem;
  }
}

/*thesis information*/

.thesis-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-bottom: 1px solid lightgrey;
}

.thesis-container h1 {
  padding-top: 2rem;
  text-align: center;
}

.thesis {
  display: flex;
  padding: 2rem 1.5rem;
}

.thesis .thesis-video {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.thesis video {
  max-width: 100%;
  padding: 1.5rem;
}

.thesis .video-cotent {
  display: flex;
  flex-direction: column;
}

.thesis h3 {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  font-weight: bold;
  font-size: 2rem;
}

.thesis .thesis-extra {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.thesis-extra .thesis-details:first-child {
  background-color: lightgrey;
}

.thesis-extra .thesis-details {
  display: flex;
}

.thesis-details img {
  margin: 1rem;
}

.thesis-extra .text {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
  width: 65%;
}

.mob-thesis-container {
  display: none;
}

@media only screen and (max-width: 480px) {
  .thesis-container {
    display: none;
  }
  .mob-thesis-container {
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  .mob-thesis-container h1 {
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
  }
  .mob-thesis-container video {
    display: flex;
    max-width: 100%;
    padding-bottom: 1.5rem;
  }
}

/*footer*/

footer .container {
  display: flex;
  align-items: center;
  height: 4rem;
  background-color: white;
}

footer .desktop {
  margin-left: auto;
}

footer .footer-desktop {
  display: flex;
  padding-left: 1.5rem;
  padding-top: 1rem;
}

footer nav ul {
  display: flex;
  vertical-align: bottom;
}

footer nav ul li {
  padding: 1rem;
}

footer .footer-mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  footer .container {
    display: none;
  }
  footer .footer-mobile {
    display: flex;
    padding: 2rem;
    background-color: white;
  }
}
